<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="#{resource['addressbook:images/addressbook-icon__32x32.png']}" type="image/png" sizes="32x32"/>
        <title>AddressBook | ${title}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <!-- Bootstrap 3.3.6 -->
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.min.css" />
        <!-- Font Awesome 4.7.0 -->
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css" />
        <!-- Ionicons 2.0.1 -->
        <h:outputStylesheet library="ionicons" name="css/ionicons.min.css" />
        <!-- AdminLTE (Theme style) -->
        <h:outputStylesheet library="adminlte" name="css/adminlte.css" />
        <!-- AdminLTE Skins. -->
        <h:outputStylesheet library="adminlte" name="css/all-skins.css" />
        <!-- Pace 1.0.2 -->
        <h:outputStylesheet library="pace" name="css/pace.min.css" />
        <!-- Address book -->
        <h:outputStylesheet library="addressbook" name="css/addressbook.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>
    <h:body class="hold-transition layout-top-nav fixed">
        <div class="wrapper">
            <!-- Add the header -->
            <ui:include src="/templates/sections/header.xhtml" />
            
            <!-- Full Width Column -->
            <div class="content-wrapper">
              <div class="container">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1> #{title} <small>#{subtitle}</small></h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    <ui:insert name="content" />
                </section>
                <!-- /.content -->
              </div>
              <!-- /.container -->
            </div>
          <!-- /.content-wrapper -->

            <!-- Add the footer -->
            <ui:include src="/templates/sections/footer.xhtml" />
        </div>
        <!-- ./wrapper -->

        <!-- jQuery 2.2.3 -->
        <h:outputScript library="jquery" name="js/jquery-2.2.3.min.js" />
        <!-- Bootstrap 3.3.6 -->
        <h:outputScript library="bootstrap" name="js/bootstrap.min.js" />
        <!-- Pace 1.0.2 -->
        <h:outputScript library="pace" name="js/pace.min.js" />
        <!-- SlimScroll -->
        <h:outputScript library="jquery-slimscroll" name="js/jquery.slimscroll.min.js" />
        <!-- FastClick -->
        <h:outputScript library="fastclick" name="js/fastclick.min.js" />
        <!-- AdminLTE -->
        <h:outputScript library="adminlte" name="js/app.min.js" />
        <!-- App libraries-->
        <h:outputScript library="addressbook" name="js/util.js" />
        <h:outputScript library="addressbook" name="js/addressbook-app.js" />
        <h:outputScript>
//<![CDATA[
AddressBook.setContextPath('#{application.contextPath}');
//]]>
        </h:outputScript>
    </h:body>
</html>