<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> #{build['application.version']}
            </div>
            <strong>Copyright &#169; 2014-2016 <a href="">Neo Cs</a>.</strong> All rights
            reserved.
        </div>
        <!-- /.container -->
    </footer>
</ui:composition>