<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#{application.contextPath}" class="navbar-brand">Address<b>Book</b></a>
                    <button name="toggle-navigation" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- TODO: Freddy Mover a la derecha y en modo movil mover a la izquierda.-->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#{application.contextPath}">Contacts</a></li>
                        <li><a href="#{application.contextPath}/contacts/create-contact.xhtml">Create contact</a></li>
                        <ui:remove>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Groups</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Duplicates</a></li>
                                <li class="divider"></li>
                                <li><a href="#{application.contextPath}/contacts/import-contact.xhtml">Import</a></li>
                                <li><a href="#">Export</a></li>
                            </ul>
                        </li>
                        </ui:remove>
                    </ul>
                    <ui:remove>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" />
                        </div>
                    </form>
                    </ui:remove>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
</ui:composition>