<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="#{resource['addressbook:images/addressbook-icon__32x32.png']}" type="image/png" sizes="32x32"/>
        <title>AddressBook | Log in</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <!-- Bootstrap 3.3.6 -->
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.min.css" />
        <!-- Font Awesome 4.7.0 -->
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css" />
        <!-- Ionicons 2.0.1 -->
        <h:outputStylesheet library="ionicons" name="css/ionicons.min.css" />
        <!-- AdminLTE (Theme style) -->
        <h:outputStylesheet library="adminlte" name="css/adminlte.min.css" />
        <!-- AdminLTE Skins. -->
        <h:outputStylesheet library="adminlte" name="css/all-skins.min.css" />
        <!-- Pace 1.0.2 -->
        <h:outputStylesheet library="pace" name="css/pace.min.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>
    <h:body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="${pageContext.request.contextPath}">Address<b>Book</b></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form>
                    <div class="form-group has-feedback">
                        <input id="txtUsername" type="username" class="form-control" placeholder="Username" />
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="txtPassword" type="password" class="form-control" placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button id="btnLogin" type="button" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <ui:remove>
                    <!-- TODO: Freddy uncomment when is ready to use. -->
                    <a href="#">I forgot my password</a><br />
                    <a href="register.html" class="text-center">Register a new membership</a>
                </ui:remove>
                
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        <!-- jQuery 2.2.3 -->
        <h:outputScript library="jquery" name="js/jquery-2.2.3.min.js" />
        <!-- Bootstrap 3.3.6 -->
        <h:outputScript library="bootstrap" name="js/bootstrap.min.js" />
        <!-- Pace 1.0.2 -->
        <h:outputScript library="pace" name="js/pace.min.js" />
        <!-- App libraries-->
        <h:outputScript library="addressbook" name="js/util.js" />
        <h:outputScript library="addressbook" name="js/addressbook-app.js" />
        <h:outputScript>
//<![CDATA[
AddressBook.setContextPath('#{application.contextPath}');
//]]>
        </h:outputScript>
        <h:outputScript library="addressbook" name="js/addressbook--login__controller.js" />
    </h:body>
</html>

