/*
Copyright (C) 2018 Freddy Barrera (freddy.barrera.moo@gmail.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
    Created on : Feb 18, 2018, 6:03:05 PM
    Author     : Freddy Barrera (freddy.barrera.moo@gmail.com)
*/

#tblContacts tbody tr:hover {
    cursor: pointer;
}

.box-footer > .btn.pull-right {
    margin-left: 1em;
}

.box-footer > .btn.pull-left {
    margin-right: 1em;
}