<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main.xhtml" >

    <ui:param name="title" value="Home" />
    <ui:param name="subtitle" value="Main page" />
    
    <ui:define name="content">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="tblContacts" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="hidden">ID</th>
                            <th>Name</th>
                            <th colspan="2">Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#215;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>
        
        <div id="contactRemoveModal" class="modal modal-danger fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&#215;</span>
                </button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline confirm-delete">Delete</button>
              </div>
            </div>
          </div>
        </div>

        <h:outputScript library="addressbook" name="js/addressbook-contacts.js" target="body" />
        <h:outputScript library="addressbook" name="js/addressbook--index__controller.js" target="body" />
    </ui:define>
</ui:composition>
