<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main.xhtml">

    <ui:param name="title" value="Edit contact" />
    <ui:param name="subtitle" value="Modify the contact" />

    <ui:define name="content">
        <div id="boxContact" class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Personal information</h3>
            </div>
            <form id="contactForm" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="txtTitle" class="control-label col-sm-2">Title</label>
                        <div class="col-sm-10">
                            <input id="txtTitle" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="txtFirstName" class="control-label col-sm-2">First name</label>
                        <div class="col-sm-10">
                            <input id="txtFirstName" type="text" class="form-control" required="true" data-error="First name is required." />
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtMiddleName" class="control-label col-sm-2">Middle name</label>
                        <div class="col-sm-10">
                            <input id="txtMiddleName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName" class="control-label col-sm-2">Last name</label>
                        <div class="col-sm-10">
                            <input id="txtLastName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSuffix" class="control-label col-sm-2">Suffix</label>
                        <div class="col-sm-10">
                            <input id="txtSuffix" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="txtPhone" class="control-label col-sm-2">Phone</label>
                        <div class="col-sm-7">
                            <input id="txtPhone" type="tel" class="form-control"
                                   placeholder="xxx xxx xxxxx"
                                   pattern="[\d]{3}[- ]?[\d]{3}[- ]?[\d]{4}"
                                   data-error="Phone number is invalid."/>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-3">
                            <select id="slcPhoneType" class="form-control">
                                <option value="MAIN">Main</option>
                                <option value="HOME">Home</option>
                                <option value="WORK">Work</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="txtEmail" class="control-label col-sm-2">Email</label>
                        <div class="col-sm-7">
                            <input id="txtEmail" type="email" class="form-control" data-error="Email address is invalid." />
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-3">
                            <select id="slcEmailType" class="form-control">
                                <option value="HOME">Home</option>
                                <option value="WORK">Work</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button id="btnSave" type="submit" class="btn btn-success pull-right" >Save</button>
                    <button id="btnCancel" type="button" class="btn btn-default pull-right" >Cancel</button>
                </div>
            </form>
        </div>

        <h:outputScript library="bootstrap-validator" name="js/validator.min.js" target="body" />
        <h:outputScript library="addressbook" name="js/addressbook-contacts.js" target="body" />
        <h:outputScript library="addressbook" name="js/addressbook--edit-contact__controller.js" target="body" />
    </ui:define>

</ui:composition>