<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main.xhtml">

    <ui:param name="title" value="Import contacts" />
    <ui:param name="subtitle" value="Import contacts from file" />

    <ui:define name="content">
        <h:outputStylesheet>
#output {
  min-height: 200px;
  white-space: pre;
  border: 1px solid black; 
}
        </h:outputStylesheet>

        <div id="output">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/49665-200.png"
                 with="210" alt="Drag and drop" />
        </div>

        <h:outputScript library="addressbook" name="js/addressbook-contacts.js" target="body" />
        <h:outputScript library="addressbook" name="js/addressbook--import-contact__controller.js" target="body" />
    </ui:define>

</ui:composition>
