<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main.xhtml">

    <ui:param name="title" value="View contact" />
    <ui:param name="subtitle" value="View all details from contact" />

    <ui:define name="content">
    </ui:define>

</ui:composition>